.post{
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    overflow-y: scroll;
    box-shadow: 0px 6px 18px -9px rgba(42, 137, 192, 0.75);
}

.post__title{
    margin-left: 20px;
    margin-bottom: 20px;
}

.post__body{
    margin:  0 20px;
    text-align: justify;
}

.post__body > p{
    margin: 0;
}

.post__userDetails{
    display: flex;
    margin: 20px 20px;
}

.post__addedBy{
    display: flex;
    flex: 1;
    align-items:center;
}

.post__Date{
    display: flex;
    align-items: center;
}


.post__buttons >  button{
    float: right;
    background-color: red;
    color: white;
    border-radius: 10px;
    margin-left: 20px;
    height: 50px;
    width: 100px;
    border: none;
    font-size: 15px;
}